
.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-size: cover;
    background-repeat: no-repeat
}

body {

    min-height: 100vh;
    /*height: 1000vh;*/
}

.grid-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 2em;
  /*padding: 3em;*/
}

.profile1 {
 /* width: 40%;
  min-width: 400px;
  margin-right: 400px*/
}

.form-card {
  /*position: sticky;
    top: 2em;*/
}

.card-container {
    /*width: 40%;
  min-width: 200px;
  max-width: 500px;
  position: absolute;
  right:0%;*/
}
.image-size{
    width: 100%;
    height: 100%;
}
.topic{
    text-align: center;
    margin-top: 3%;
    position: relative;
    right: 17%;

}