<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/system_configuration" method="post">


    <lable> country</lable>
    <input id="country" name="country" type="text">

    <lable>branch</lable>
        <input id="branch" name="branch" type="text">


    <lable>region</lable>
    <input id="region" name="region" type="text">


    <lable>defaultCurrency</lable>
    <input id="defaultCurrency" name="defaultCurrency" type="text">


    <lable>defaultTimeZone</lable>
    <input id="defaultTimeZone" name="defaultTimeZone" type="text">


    <lable>defaultLanguage</lable>
    <input id="defaultLanguage" name="defaultLanguage" type="text">


    <lable>countryCode</lable>
    <input id="countryCode" name="countryCode" type="text">


    <lable>googleMapKey</lable>
    <input id="googleMapKey" name="googleMapKey" type="text">


    <lable>phoneMassageNumbersService</lable>
    <input id="phoneMassageNumbersService" name="phoneMassageNumbersService" type="number">


    <lable>mailingServiceMainEmails</lable>
    <input id="usernmailingServiceMainEmailsame" name="mailingServiceMainEmails" type="text">

    <input class="button" type="submit" value="done!">

</form>
</body>
</html>