<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/bootstrapFragment :: head" th:remove="tag"></div>

    <link th:rel="stylesheet" th:href="@{/css/raisedWorkView.css}"/>

</head>
<body>

<div class="container  rounded-bottom fixed-nav " id="fixed-nav">
    <div th:replace="fragments/common :: navbar" th:remove="tag"></div>
</div>
<div class="container-fluid bg-warm">
    <div class="container mt-6 ">


        <div class="row ">
            <div class="col-md-12">
                <h2 class="pt-3 pb-1 col-12" th:text="${raisedFund.topic}">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="px-4 pt-0 pb-4 cover">
                            <img class="card-img-top img-size" th:src="@{|/allImages/${raisedFund.getImages().get(0)}|}" alt="Card image" style="width:100%">

                        </div>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-md-12 border border-left-0 border-right-0 p-2 ">
                        <span class=" ">profile    <span class="text-secondary"> anas is organizing this fundraiser</span> </span>

                    </div>
                </div>

                <div class="row p-2 ">
                    <div class="col-md-12 border border-left-0 border-right-0 border-top-0  p-2">

                        <p class="text-default">Created At: <i class="font-italic font-weight-lighter" th:text="${raisedFund.startFrom}"> </i></p>
                        <p class="text-default">Ends At: <i class="font-italic font-weight-lighter" th:text="${raisedFund.endAt}"> </i></p>


                    </div>
                </div>

                <div class="row p-2 ">
                    <div class="col-md-12 border border-left-0 border-right-0 border-top-0 p-2">
                        <p class="font-italic mb-0" th:text="${raisedFund.description}"></p>
                    </div>
                </div>

                <!--                <div class="bg-light p-4 d-flex justify-content-end text-center">-->
                <!--                    <ul class="list-inline mb-0">-->
                <!--                        <li class="row align-items-start ">-->
                <!--                            <h5> Start At: <h5 class="font-weight-bold mb-0 d-block"-->
                <!--                                               th:text="${raisedFund.startFrom}"></h5></h5>-->
                <!--                        </li>-->
                <!--                        <li class="row align-items-end">-->
                <!--                            <h5> End At: <h5 class="font-weight-bold mb-0 d-block"-->
                <!--                                             th:text="${raisedFund.endAt}"></h5>-->
                <!--                            </h5>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <!--                <div class="px-4 py-3">-->
                <!--                    <h5 class="mb-0">About</h5>-->
                <!--                    <div class="p-4 rounded shadow-sm bg-light">-->
                <!--                       -->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="py-4 px-4">-->
                <!--                    <div class="d-flex align-items-center justify-content-between mb-3">-->
                <!--                        <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>


            <div class="form-card col-md-4">

                <div class="card card-container">

                    <div class="card-body">
                        <div class="card-title">
                            <b>
                                <span class="text-success"></span><span class="text-success">500$</span>

                                <span class="text-default"> Raised out of  <span
                                        class="text-success">1000$</span> </span>
                            </b>
                        </div>

                        <div class="progress progress-bar-height">
                            <div class="progress-bar bg-success" th:style="@{| width: 70% |}" role="progressbar"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>


                        <!-- Button trigger modal -->
                        <button type="button" class="donate" data-toggle="modal" data-target="#addDonation">
                            Donate
                        </button>

                        <!-- Modal -->


                        <div class="modal fade" id="addDonation" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">


                                    <form action="/donate" method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="closeModal">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <!--                                        ------------------------------------------->
                                            <div class="row">
                                                <div class="col-md-12 mx-auto">
                                                    <div class="card ">
                                                        <div class="card-header">
                                                            <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                                                <!-- Credit card form tabs -->
                                                                <ul role="tablist"
                                                                    class="nav bg-light nav-pills rounded nav-fill mb-3">
                                                                    <li class="nav-item"><a data-toggle="pill"
                                                                                            href="#credit-card"
                                                                                            class="nav-link active "> <i
                                                                            class="fas fa-credit-card mr-2"></i> Credit
                                                                        Card </a></li>
                                                                    <li class="nav-item"><a data-toggle="pill"
                                                                                            href="#paypal"
                                                                                            class="nav-link "> <i
                                                                            class="fab fa-paypal mr-2"></i> Paypal </a>
                                                                    </li>
                                                                    <li class="nav-item"><a data-toggle="pill"
                                                                                            href="#net-banking"
                                                                                            class="nav-link "> <i
                                                                            class="fas fa-mobile-alt mr-2"></i> Net
                                                                        Banking </a></li>
                                                                </ul>
                                                            </div> <!-- End -->
                                                            <!-- Credit card form content -->
                                                            <div class="tab-content">
                                                                <!-- credit card info-->
                                                                <div id="credit-card"
                                                                     class="tab-pane fade show active pt-3">
                                                                    <div class="form-group"><label for="username">
                                                                        <h6>Card Owner</h6>
                                                                    </label> <input type="text" name="username"
                                                                                    id="username"
                                                                                    placeholder="Card Owner Name"
                                                                                    required class="form-control ">
                                                                    </div>
                                                                    <div class="form-group"><label for="cardNumber">
                                                                        <h6>Card number</h6>
                                                                    </label>
                                                                        <div class="input-group"><input type="text"
                                                                                                        name="cardNumber"
                                                                                                        id="cardNumber"
                                                                                                        placeholder="Valid card number"
                                                                                                        class="form-control "
                                                                                                        required>
                                                                            <div class="input-group-append"><span
                                                                                    class="input-group-text text-muted"> <i
                                                                                    class="fab fa-cc-visa mx-1"></i> <i
                                                                                    class="fab fa-cc-mastercard mx-1"></i> <i
                                                                                    class="fab fa-cc-amex mx-1"></i> </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-8">
                                                                            <div class="form-group"><label><span
                                                                                    class="hidden-xs">
                                                    <h6>Expiration Date</h6>
                                                </span></label>
                                                                                <div class="input-group"><input
                                                                                        type="number" placeholder="MM"
                                                                                        name="" class="form-control"
                                                                                        required> <input type="number"
                                                                                                         placeholder="YY"
                                                                                                         name=""
                                                                                                         class="form-control"
                                                                                                         required></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group mb-4"><label
                                                                                    data-toggle="tooltip"
                                                                                    title="Three digit CV code on the back of your card">
                                                                                <h6>CVV <i
                                                                                        class="fa fa-question-circle d-inline"></i>
                                                                                </h6>
                                                                            </label> <input type="text" required
                                                                                            class="form-control"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <button type="button"
                                                                                class="subscribe btn btn-primary btn-block shadow-sm">
                                                                            Confirm Payment
                                                                        </button>
                                                                    </div>
                                                                </div> <!-- End -->
                                                                <!-- Paypal info -->
                                                                <div id="paypal" class="tab-pane fade pt-3">
                                                                    <h6 class="pb-2">Select your paypal account
                                                                        type</h6>
                                                                    <div class="form-group "><label
                                                                            class="radio-inline"> <input type="radio"
                                                                                                         name="optradio"
                                                                                                         checked>
                                                                        Domestic </label> <label class="radio-inline">
                                                                        <input type="radio" name="optradio"
                                                                               class="ml-5">International </label></div>
                                                                    <p>
                                                                        <button type="button" class="btn btn-primary ">
                                                                            <i class="fab fa-paypal mr-2"></i> Log into
                                                                            my Paypal
                                                                        </button>
                                                                    </p>
                                                                    <p class="text-muted"> Note: After clicking on the
                                                                        button, you will be directed to a secure gateway
                                                                        for payment. After completing the payment
                                                                        process, you will be redirected back to the
                                                                        website to view details of your order. </p>
                                                                </div> <!-- End -->
                                                                <!-- bank transfer info -->
                                                                <div id="net-banking" class="tab-pane fade pt-3">
                                                                    <div class="form-group "><label
                                                                            for="SelectYourBank">
                                                                        <h6 id="SelectYourBank">Select your Bank</h6>
                                                                    </label> <select class="form-control" id="ccmonth">
                                                                        <option value="" selected disabled>--Please
                                                                            select your Bank--
                                                                        </option>
                                                                        <option>Bank 1</option>
                                                                        <option>Bank 2</option>
                                                                        <option>Bank 3</option>
                                                                        <option>Bank 4</option>
                                                                        <option>Bank 5</option>
                                                                        <option>Bank 6</option>
                                                                        <option>Bank 7</option>
                                                                        <option>Bank 8</option>
                                                                        <option>Bank 9</option>
                                                                        <option>Bank 10</option>
                                                                    </select></div>
                                                                    <div class="form-group">
                                                                        <p>
                                                                            <button type="button"
                                                                                    class="btn btn-primary "><i
                                                                                    class="fas fa-mobile-alt mr-2"></i>
                                                                                Proceed Payment
                                                                            </button>
                                                                        </p>
                                                                    </div>
                                                                    <p class="text-muted">Note: After clicking on the
                                                                        button, you will be directed to a secure gateway
                                                                        for payment. After completing the payment
                                                                        process, you will be redirected back to the
                                                                        website to view details of your order. </p>
                                                                </div> <!-- End -->
                                                                <!-- End -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--                                        -------------------------->

                                            <label for="validationCustom01">Donation Amount</label>
                                            <input type="text" class="form-control" id="validationCustom01"
                                                   name="amountPAid" required>

                                            <input type="hidden" th:value="${raisedFund.id}" name="fundRaisedId">
                                            <input type="hidden" sec:authorize="isAuthenticated()"
                                                   th:value="${loggedInUser.id}" name="loggedInUser">

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Donate</button>

                                        </div>
                                    </form>

                                </div>

                            </div>


                        </div>



                    </div>

                    <div th:each="alldata:${findAllData}">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" width=10% alt="">

                        <p th:text="${alldata.donorName +' Has donated with '+ alldata.amountPaid+'$'}"></p>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>


<div class="container mt-5">
    <div class=" row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <h3> Comments</h3>
                    <div class="border border-left-0 border-right-0 p-3"  th:each="comment:${AllComment}">
                      <div th:if="${comment.getCommentTypeId()}==2">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                                                    src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2"><span
                                    class="d-block font-weight-bold name" th:text="${comment.getCommenterName()}"  ></span><span
                                    class="date text-black-50"  th:text="${comment.getTimeStamp()}"></span></div>
                        </div>

                        <p class="p-2" th:text="${comment.body}"></p>
                    </div>
                    </div>
                </div>
                <form  method="post" action="/addComment">
                    <div class="bg-light p-2">

                        <input class="form-control ml-1 shadow-none textarea" type="text" name="body">
                        <input type="hidden" name="workId" th:value="${raisedFund.id}">


                        <input type="hidden" name="status" value="2">
                            <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="submit">Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/common :: footer" th:remove="tag"></div>

</body>
<div th:replace="fragments/bootstrapFragment :: BSfragmentScript" th:remove="tag"></div>

</html>